* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "Karla", sans-serif;
}
body {
    background-color: #ECF2F8;
}

#container {
    padding: 5% 3%;
}

#testimonial-1 {
    background-color: #7541c8;
    color: #ffffff;
    position: relative;
    z-index: 0;
}
#testimonial-2 {
    background-color: #48556A;
    color: #ffffff;
}

#testimonial-3 {
    background-color: #ffffff;
}

#testimonial-4 {
    background-color: #19212E;
    color: #ffffff;
}

#testimonial-5 {
    background-color: #ffffff;
}
.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 3px rgba(0,0,0,0.2);

}
.grid-item p {
    opacity: 70%;
    font-weight: 500;
}
.grid-item h4 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 600;
    z-index: 3;
    position: relative;
}
#header .name {
    opacity: 100%;
    font-size: 1.1rem;
}
#header .verified {
    opacity: 50%;
}
#container img {
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #7541c8;
}
#header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    z-index: 3;
    position: relative;

}
#quote {
    position: absolute;
    right: 10%;
    top: 0;
    z-index: 1;
}

@media (min-width: 576px) {
    #container,
    #container-left,
    #container-left-top,
    #container-left-bottom {
        display: flex;
    }

    #container-left-top, #container-left-bottom {
        flex-basis: 50%;
    }

    #testimonial-1, #testimonial-4 {
        flex-basis: 65%;
    }

    #testimonial-2, #testimonial-3 {
        flex-basis: 35%;
    }

    #container {
        
        max-width: 1440px;
        margin: 0 auto;
        justify-content: space-between;
    }

    #testimonial-5 {
        flex-basis: 20%;
    }

    #container-left {
        flex-direction: column;
        flex-basis: 80%;
    }

    #container-left .grid-item {
        margin-right: 15px;
    }
}